/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Aref+Ruqaa:wght@400;700&family=Calligraffitti&family=Carattere&family=Cookie&family=Corinthia:wght@700&family=Courgette&family=Damion&family=Dancing+Script:wght@581&family=Dawning+of+a+New+Day&family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=La+Belle+Aurore&family=Merienda+One&family=Montserrat+Subrayada&family=Oooh+Baby&family=Playball&family=Seaweed+Script&family=Sedgwick+Ave&family=Sofia&family=Staatliches&display=swap');
/*
font-family: 'Dawning of a New Day', cursive;
font-family: 'Fira Sans', sans-serif; not for title logo
*/
body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    background-color: rgb(249,249,249);
    font-family: 'Fira Sans', sans-serif;
}
/* Montserrat, Staatliches, Montserrat Subrayada */
*{
    text-decoration: none;
    /* font-family: 'Fira Sans', sans-serif; */
}
a{
    color: #000000
}
#testing12 {
    font-family: 'Dawning of a New Day', cursive;
    font-size: 30px;
    -webkit-text-stroke-width: 1px;
    /* font-size: 35px;
    font-weight: 1000px; */
    font-style: bold;
    color: #bfbfbf;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.109);
    /* font-size:15px; */
    justify-content:space-between;
    background-color: white;
}
.navbtn-holder{
    display: flex;
    gap: 1rem;
}
.profile-button {
    height: 40px;
    width: 40px;
    border-radius: 25px;
    outline: 0;
    border: 2px solid rgb(220, 219, 219);
    cursor: pointer;
}
.profile-dropdown {
    top: 46px;
    right: 75px;
}
.community-button {
    border: none;
    outline: none;
    background-color: #FFFFFF;
    cursor: pointer;
}
.route-button {
    border: none;
    outline: none;
    background-color: #FFFFFF;
    cursor: pointer;
}
.shop-button {
    border: none;
    outline: none;
    background-color: #FFFFFF;
    cursor: pointer;
}
#style {
    position: absolute;
    z-index: 1000;
    background-color: rgb(240, 240, 240);
    list-style-type: none;
    padding: 15px;
    width: 100px;
    border-radius: 3px;
    margin: 10px;
    border: .5px rgba(174, 174, 174, 0.5) solid;
}
#homeLink {
    font-size: 20px;
}
.divCont {
    display:inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0px;
    right: 0;
    left: 0;
    z-index: -1;
    content: "";
    /* position: absolute;
    top: 9%; */
    /* display: grid; */
    position: absolute;
    top: 7%;
    width: 850px;
    height: 550px;
    padding-bottom: 40px;
}
.topoBackground {
    display:inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0px;
    right: 0;
    left: 0;
    z-index: -1;
    content: "";
    /* position: absolute;
    top: 9%; */
    /* display: grid; */
    position: absolute;
    top: 7%;
    width: 850px;
    max-height: 550px;
    overflow: hidden;
    height: 550px;
    background-repeat: none;
    padding-bottom: 40px;
    opacity: .5px;
    /* background-size: 200%; */
    background: linear-gradient(rgba(249, 249, 249, 0.90), rgba(249, 249, 249, 0.90)), url('https://image.freepik.com/free-vector/monochrome-abstract-contour-line-illustration_53876-81792.jpg');
}
.friendDashboardContainer {
    display:inline-block;
    /* flex-direction: row;
    flex-wrap: wrap; */
    text-align: center;
    max-height: 370px;
    width: 100%;
    overflow-y: scroll;
    justify-content: center;
    /* width: 700px; */
    padding: 0 0 20px 0;
    margin: 0;
    /* margin-bottom: 40px; */
    align-items: center;
}
.titleTry {
    text-align: left;
    justify-content: center;
    width: 670px;
    margin: 0px auto 0px auto;
    align-items: center;
    padding: 0;
}
.testAlign {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    font-weight: 600;
    width: 640px;
    margin-left: 15px;
    width: 100%;
}
.testAlign2 {
    margin-bottom: 50;
    margin-top: 0;
    padding: 0;
    width: 670px;
    color: grey;
}
.RouteEditBtn {
    text-decoration: none;
    color: black;
    background-color: rgb(211, 211, 211);
    padding: 2px 6px 2px 6px;
    border: none;
}
.map {
    /* width: 50%;
    margin: 0 80px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    /* right: 0px; */
    /* display: flex; */
    /* display: inline-block; */
    /* float: right; */
    /*position: relative; */
    /* backdrop-filter: blur(2px); */
    /* z-index: -1; */
    width: 1150px;
    height: 640px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 3px;
    background-color: white;
    /* opacity: 0.6; */
}
.logBtns {
    width: 105px;
    justify-content: space-between;
    display: flex;
}
.logBtns a {
    color: #787878;
}
.logBtns1:hover, .logBtns1:active, .logBtns2:active, .active1, .active1 {
    border-bottom: 2px solid #009CE9;
}
.fa-ellipsis-v {
    cursor: pointer;
    right: 35px;
    position: absolute;
    color: rgb(132, 132, 132);
    font-size: 24px;
}
.friendDashboardContainer {
    grid-template-columns: repeat(auto-fill, 350px);
    display: grid;
    /* align-content: flex-start; */
    margin: 0 auto;
}
.friendCard {
    padding: 10px;
    margin-bottom: 15px;
    margin: auto auto 15px auto;
    background-color: #FFFFFF;
    outline: 1px solid #DEE1E7;
    align-items: center;
    width: 310px;
    height: 67.5px;
    text-align: center;
    display: inline-block;
    /* margin: auto; */
}
.friendCard:hover {
    /* z-index: -1; */
    background: url('https://user-images.githubusercontent.com/86431563/147843438-cb199920-586f-4a5b-951c-5d9af3ca48f1.png');
    background-size: 100%;
    background-repeat: none;
}
.friendContent {
    width: 60px;
    height: 60px;
    background-color: rgb(175, 175, 175);
    margin-right: 10px;
    border-radius: 30px;
    cursor: auto;
}
.full-name-container {
    padding-right: 5px;
}
.fullName {
    top: 50%;
}
.fullName:hover {
    text-decoration: underline .7px solid grey;
    color: #00446e;
}
.soMany {
    display: flex;
    align-items: center;
    position: relative;
}
.friendBtn {
    float: right;
    right: 0;
    position: absolute;
    cursor: pointer;
}
.friendUnfriendBtn {
    width: 74px;
    height: 35px;
    outline: 0;
    border: 0;
    background-color: #E0E0E0;
    color: #1C1C1C;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.friendUnfriendBtn:hover {
    background-color: #d5d5d5;
    color: rgb(91, 91, 91);
}
.friendUnfriendBtn a {
    width: 74px;
    height: 35px;
    padding: 20px;
    outline: 0;
    border: 0;
    background-color: #E0E0E0;
    color: #1C1C1C;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.routes-wrapper {
    width: 800px;
    margin: 0 auto;
    /* display: inline-block; */
    align-items: center;
    /* height: 600px; */
}
.userProfileInfo {
    /* grid-template-columns: repeat(auto-fill, 350px);
    display: grid;
    width: 500px; */
    width: 270px;
    border: 1px rgb(226, 226, 226) solid;
    /* flex-direction: column; */
    margin: 0 auto 15px auto;
    background-color: #f0f0f0;
    border-radius: 7px;
    padding: 5px 10px 10px 13px;
    /* display: inline-block; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.userProfileInfo:hover {
    background: url('https://user-images.githubusercontent.com/86431563/147844069-90a64c71-3ec6-4fc6-8516-171544efbc35.png');
    background-size: 100%;
    background-repeat: none;
}
.userPic {
    width: 70px;
    height: 70px;
    background-color: rgb(175, 175, 175);
    border-radius: 40px;
    display: flex;
    position: relative;
    opacity: .5;
    border: 1px rgb(140, 140, 140) solid;
    /* float: right; */
    /* right: 0; */
    /* position: absolute; */
}
.createRouteBtn {
    margin-right: 0;
    margin-left:auto;
    display:block;
    background-color: #0076C0;
    color: white;
    outline: none;
    border: none;
    padding: 6px 8px 6px 8px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}
.createRouteBtn:hover {
    background-color: #0067a7;
}
#h1404 {
    margin: 3px;
}
#routeLink, #communityLink, #shopLink {
    cursor: pointer;
}
.friendLinks {
    /* margin-top: 15px; */
    /* top: 15%; */
    /* position: absolute; */
    background-color: #F9F9F9;
    width: 100%;
    padding: 80px 0px 30px 0;
    text-align: center;
    /* margin-bottom: 22px; */
}
.link-active {
    color: black !important;
    font-weight: 550;
    padding-bottom: 2px;
    border-bottom: 3px solid #009CE9;
}
#communityLink:focus {
    color: black !important;
    border-bottom: 3px solid #AFAFAF;
}
#communityLink:active {
    color: black !important;
    border-bottom: 3px solid #AFAFAF;
}
.links:hover {
    color: black !important;
}
.pink{
    background : pink;
    }
.links {
    color: #A2A2AF;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 4px 6px 0px rgba(120, 120, 120, 0.1);
    z-index: 3;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: black;}

.privacyIcon {
    cursor: help;
}
tbody {
    /* display: block; */
    table-layout: fixed;
    width: 100%;
}
.routes-table-container {
    width: 100%;
    color: rgb(69, 69, 69);
}
.testin {
    width: 100%;
    table-layout: fixed;
    width: 100%;
    padding-top: 25px;
}
.table-header {
    margin: 0 auto;
    clear: both;
    height: 20px;
    width: 100%;
}

tr:nth-child(even) {background-color: #f0f0f0;}
.table-header, td {
    padding: 15px;
    text-align: left;
}
#nameColor a {
    color: #1f7bb5 !important;
}
.name a:hover {
    color: #1f7bb5;
    text-decoration: underline #ababab solid 2px;
}
.td-name a:hover {
    color: #1f7bb5;
    text-decoration: underline #ababab solid 2px;
}

td a, td button {
    color: rgb(69, 69, 69);
}
.table-header {
    color: #f7f7f7;
    width: calc(100% - 17px);
    background-color: #0076C0;
    font-weight: 400;
    text-align: left;
    border: .2px solid #2994d6;
}
#te {
    text-align: justify;
    display: block;
    text-align: center;
    margin: auto;
    padding-top: 10px;
}
.ttt {
    /* width: calc(100% - 17px); */
    display: inline-flex;
    /* flex-wrap: wrap; */
    padding-left: 15px;
    padding-right: 54.5px;
    color: rgb(213, 213, 213);
    background-color: #eeeff0;
    font-weight: 400;
    border: .5px #e8eef1 solid;
    opacity: .85;
}
.tt {
    width: calc(100% - 17px);
    text-align: left;
    padding-left: 10px;
    color: rgb(213, 213, 213);
    background-color: #eeeff0;
    opacity: .85;
    font-weight: 400;
    border: .5px #e8eef1 solid;
}
table td, table tr {
    border: .5px solid #c2c2c2;
}
.routes-table-row {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}
table {
    width: 100%;
    border-collapse: collapse;
    max-height: 350px;
    margin: 0 auto;
}
.tableBodyScroll {
    overflow-y: scroll;
    max-height: 360px;
    width: 100%;

}
.scroll {
    overflow-y:scroll;height:100px;
}
#testHr {
    margin-bottom: 40px;
}
tr:nth-child(even) {background-color: #f0f0f0;}
#nameColor a {
    color: #1f7bb5 !important;
}
.name a:hover {
    color: #1f7bb5;
    text-decoration: underline #ababab solid 2px;
}
.td-name a:hover {
    color: #1f7bb5;
    text-decoration: underline #ababab solid 2px;
}
td a, td button {
    color: rgb(69, 69, 69);
}
.main-splash-container {
    display: flex;
    width: 1300px;
    justify-content: center;
    position: relative;
    margin: 0 auto;
}
.home-image {
    justify-content: center;
    display: flex;
}
.homePage {
    position: relative;
    justify-content: center;
    height: 640px;
    display: inline-block;
}
.mapFront {
    backdrop-filter: blur(2px);
    z-index: -1;
    width: 1030px;
    height: 620px;
    padding-bottom: 3px;
    background-color: white;
    opacity: 0.6;
}
.artistName {
    color: #d6d6d6;
    cursor: pointer;
    /* padding-top: 15px;
    margin-top: 15px; */
    bottom: 0;
    /* left: 47%; */
    z-index: 2;
    display: flex;
    justify-content: center;
}
.slogan-container {
    width: 330px;
    position: absolute;
    background-color: transparent;
    top: 5%;
    letter-spacing: 2px;
    z-index: 2;
    margin-left: 855px;
    text-align: right;
}
.home-hr {
    position: relative;
    width: 20%;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    left: 20%;
    border: 1px grey;
    outline: 1px grey;
    border-color: 1px #cccccc;
}
.slogan {
    display: inline-block;
    color: #F9F9F9;
    -webkit-text-stroke: .85px #c2c2c2;
    font-size: 45px;
    font-style: bold;
    font-weight: 900;
    z-index: 1;
    margin-right: -20px;
    text-shadow: 0px 0px 3px #b8b8b8, 0 0 2px #dfdfdf, 0 0 3px #dfdfdf;
}
.homepage-text-container {
    width: 300px;
    position: absolute;
    top: 56%;
    text-align: right;
    color: white;
    font-weight: 900;
    margin-left: 920px;
    z-index: 2;
}
.text-info {
    display: inline-block;
    padding-top: 5px;
    text-shadow: 1px 1px 5px #f0f0f0;
    -webkit-text-stroke: .8px #787878;

}
.home-sign-up {
    display: block;
    width: 90%;
    text-align: center;
    background-color: #b5b5b5;
    padding: 15px 0;
    margin: 30px 0;
    margin-left: 33px;
    border-radius: 3px;
    letter-spacing: 1px;
    /* font-style: 'Dawning of a New Day'; */
    font-weight: 600;
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-style: bold;
    cursor: pointer;
}
.home-sign-up:hover {
    background-color: #ababab;
}
.login-q {
    font-size: 16px;
    font-style: italic;
    margin-right: 20px;
    font-weight: 800;
    -webkit-text-stroke: .8px #252525;
    text-shadow: 1px 1px 4px #B5B5B5, 0 0 25px #B5B5B5, 0 0 5px #B5B5B5;
}
.home-login {
    text-decoration: none;
    color: rgb(223, 223, 223);
    border: 2px rgb(220, 220, 220) solid;
    padding: 5px 20px;
    border-radius: 3px;
    -webkit-text-stroke: .1px rgb(233, 233, 233);
}
.home-login:hover {
    color: rgb(200, 200, 200);
    border: 2px rgb(200, 200, 200) solid;
}
.deleteModal {
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: 7px solid #009CE9;
    padding: 17px 40px 20px 40px;
    background: url('https://user-images.githubusercontent.com/86431563/147745332-87286859-dd53-436c-adb6-1cc33c3a314d.png');
    background-size: 110%;
    position: relative;
}
.deleteModal2 {
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: 7px solid #009CE9;
    padding: 20px 40px 30px 40px;
    background: url('https://user-images.githubusercontent.com/86431563/147745332-87286859-dd53-436c-adb6-1cc33c3a314d.png');
    background-size: 110%;
    position: relative;
    font-weight: 550;
    color: rgb(71, 71, 71);
}
.deleteModal3 {
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: inline-block;
    width: 210px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: 7px solid #009CE9;
    padding: 20px 30px 15px 30px;
    background: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v404-aew-01-contourtexture_2.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=ce396ed3f816d389113ab730e8e531d3');
    background-size: 110%;
    position: relative;
}
.commentContent {
    margin-bottom: 15px;
    height: 80px;
    width: 200px;
    padding: 5px;
    resize: none;
}
/* .form3 {
    display: absolute;
} */
.deleteModal p {
    color: rgb(71, 71, 71);
    font-weight: 550;
}
#friendUnfriendConfirmBtn {
    background-color: #cacaca;
    border-radius: 2px;
    border: 0;
    outline: 0;
    padding: 3px 6.5px 3px 6.5px;
    cursor: pointer;
    color: rgb(71, 71, 71);
}
#friendUnfriendConfirmBtn:hover {
    background-color: #bbbbbb;
}
#friendUnfriendConfirmBtn2 {
    background-color: #bababa;
    border-radius: 2px;
    border: 0;
    outline: 0;
    padding: 3px 6.5px 3px 6.5px;
    cursor: pointer;
    color: rgb(71, 71, 71);
}
#friendUnfriendConfirmBtn2:hover {
    background-color: #afafaf;
}
#friendUnfriendConfirmBtn1 {
    background-color: #c5c5c5;
    border-radius: 2px;
    outline: 0;
    border: .5px solid rgb(175, 175, 175);
    font-weight: 600;
    padding: 3px 15px 3px 15px;
    cursor: pointer;
    color: rgb(71, 71, 71);
}
#friendUnfriendConfirmBtn1:hover {
    background-color: #bbbbbb;
}
#friendUnfriendConfirmBtn5 {
    background-color: #bababa;
    border-radius: 2px;
    border: 0;
    outline: 0;
    padding: 3px 6.5px 3px 6.5px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-shadow: 0 0 1px rgb(147, 147, 147), 0 0 1px rgb(147, 147, 147), 0 0 1px rgb(147, 147, 147), 0 0 1px rgb(147, 147, 147);
}
#friendUnfriendConfirmBtn5:hover {
    background-color: #a5a5a5;
}
#EditCreateDeleteBtns {
    background-color: #cacaca;
    border-radius: 2px;
    border: 0;
    outline: 0;
    padding: 3px 6.5px 3px 6.5px;
    cursor: pointer;
    color: rgb(71, 71, 71);
}
.yesNCanelBtnsWrap {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.yesNCanelBtnsWrap2 {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
#friendUnfriendConfirmBtn4 {
    background-color: #d6d6d68e;
    border-radius: 2px;
    border: 1px #bababa solid;
    outline: 0;
    padding: 3px 40px 3px 40px;
    cursor: pointer;
    color: rgb(147, 147, 147);
    font-weight: 700;
    text-shadow: 0 0 1px rgb(214, 214, 214), 0 0 1px rgb(186, 186, 186), 0 0 1px rgb(199, 199, 199), 0 0 1px rgb(193, 193, 193);
}
#friendUnfriendConfirmBtn4:hover {
    background-color: #c5c5c58e;
}

.routeText {
    border: none;
    position: relative;
    letter-spacing: .5px;
    font-size: 12px;
    text-align: left;
    padding: 10px 12px 20px 12px;
    display: grid;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 200px;
    margin: 10px;
    margin-bottom: 15px;
    padding-left: 10px;
    align-items: left;
    position: absolute;
    color: rgb(171, 171, 171);
    font-size: 12px;
    text-shadow: 0px 0px 1px #ffffff, 0 0 1px #ffffff, 0 0 1px #ffffff;
}
.routePage {
    display: flex;
    /* height: 99%; */
    width: 1150px;
    height: 99.5%;
    justify-content: center;
    position: relative;
    margin: 0 auto;
}
.routeInfoDiv {
    /* width: 300px;
    height: 650px;
    position:absolute; */
    /* position: absolute; */
    /* display: flex; */
    /* top: 73px; */
    /* left: 0; */
    /* margin-left: 16%; */
    /* position: relative; */
    /* margin: 0 80px; */
    backdrop-filter: blur(9px);
    box-shadow: -5px 0px 10px -8px #9a9a9a;
    z-index: 1;
    border-right: 1px rgb(231, 231, 231) solid;
    width: 300px;
    display: grid;
    position: absolute;
    left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    /* top: 56%; */
    /* text-align: right; */
    /* margin-left: 920px; */
    z-index: 2;
    /* outline: 1px #dadada solid; */
    /* height: 100%; */
    height: 650px;
}
.routeInfoDiv::after {
    width: 300px;
    background: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v404-aew-01-contourtexture_2.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=ce396ed3f816d389113ab730e8e531d3');
    position: absolute;
    /* top:0; */
    left: 0;
    z-index: -1;
    background-color: white;
    backdrop-filter: blur(7px);
    content: "";
    opacity: .05;
    height: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
}
#routeTextt {
    /* margin-bottom: 5px;
    padding: 10px 5px 20px 7px;
    width: 285px;
    height: 412px;
    position: relative;
    border: 2px #dadada solid;
    font-size: 12.5px;
    color: grey; */
    /* height: 260px; */
    width: 282px;
    padding: 3px 0px 7px 17px;
    margin: 0px 0px 0px 0px;
    background-color: transparent;
    top: 5%;
    /* letter-spacing: 2px; */
    z-index: 2;
    left: 0;
    /* margin-left: 855px; */
    text-align: right;
    border: none;
    position: relative;
    letter-spacing: .5px;
    font-size: 12px;
    text-align: left;
    /* padding: 10px 12px 20px 12px; */
    /* display: grid;
    flex-direction: column; */
    /* justify-content: flex-start; */
    /* flex-wrap: wrap; */
    /* width: 200px; */
    /* margin: 10px 0px 10px 10px; */
    /* margin-bottom: 15px; */
    /* padding-left: 10px; */
    align-items: left;
    position: absolute;
    border: 1px #dadada solid;
    color: rgb(171, 171, 171);
    text-shadow: 0px 0px 1px #ffffff, 0 0 1px #ffffff, 0 0 1px #ffffff;
}
#routeName {
    font-size: 20px;
    font-weight: 600;
    color: rgb(86, 86, 86);
    padding-bottom: 10px;
}
#routeActivity {
    font-size: 15px;
    color: rgb(86, 86, 86);
    padding-bottom: 10px;
}
#routeDescription {
    font-size: 15px;
    color: rgb(86, 86, 86);
    /* padding-bottom: 10px; */
    height: 290px;
    padding-right: 0;
    padding-left: 3px;
    width: 260px;
    margin-bottom: 7px;
    margin-right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-top: 1px solid grey;
    border-left: .7px dashed rgb(189, 189, 189);
    border-right: .7px dashed rgb(189, 189, 189);
    z-index: 1;
}
.tes {
    content: "";
    background-color: #ebebeb;
    opacity: .5;
    height: 290px;
    padding-right: 0;
    /* padding-left: 4px; */
    width: 260px;
    background-clip: content-box;
    background-origin: content-box;
    margin-left: 0;
    margin-right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: -1;
}
#descProf {
    justify-content: flex-end;
    position:absolute;
    right: 15px;
    top: 17.5%;
    float: right;
    text-align: right;
}
#routeDate {
    font-size: 13px;
    color: rgb(223, 223, 223);
    padding-left: 2px;
    padding-right: 2px;
    text-shadow: 0px 0px .5px #484848, 0 0 .5px #a5a5a5, 0 0 .5px #a5a5a5;
}
#dateProf {
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: flex-end;
    color: rgb(204, 204, 204);
    /* width: 300px; */
    font-size: 12px;
    position:absolute;
    right: 0;
    top: 0;
    /* padding: 1px 5px 0px 3px; */
    float: right;
    right: 0;
    text-align: right;
}
.commentInfoDiv {
    height: 130px;
    padding: 6px 8px 3px 17px;
    margin: 0px 0px 0px 0px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 272px;
    bottom: 0;
    position: absolute;
    border: 2px #dadada solid;
    /* border-bottom: 2px #dadada solid; */
}
#commentLabel {
    margin: 0px 0px 0px 2px;
    padding: 0px 0px 0px 15px;
    bottom: 22.5%;
    position: absolute;
    left: 0;
    color: rgb(167, 167, 167);
}
#commentLabel2 {
    margin: 0px 0px 0px 2px;
    padding: 0px 0px 0px 15px;
    bottom: 22.5%;
    position: absolute;
    left: 0;
    color: rgb(211, 211, 211);
}
#commentBtn {
    bottom: 22.5%;
    position: absolute;
    padding: 0px 17px 0px 0px;
    right: 0;
}
#routeLabel {
    margin: 11px 0 0 14px;
    padding: 0;
    color: rgb(181, 181, 181);
    text-shadow: 0px 0px 1px #b8b8b8, 0 0 1px #dfdfdf, 0 0 1px #dfdfdf;
    /* padding: 5px 0px 0xp 10px; */

}
.editFormCommentsView {
    padding: 3px 5px 0px 2px;
    margin: 4px 7px 12px 0px;
    border-left: 3px solid #CAC7C7;
    opacity: .9;
    /* width: 0px; */
    font-size: 12px;
    border-bottom: 1px dashed rgb(208, 208, 208);
}
.tess {
    content: "";
    /* background-color: #ebebeb; */
    opacity: .5;
    max-height: 32px;
    background-clip: content-box;
    background-origin: content-box;
    margin-left: 0;
    margin-right: 0;
    height: 25px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: -1;
    background-color: rgb(245, 245, 245);
}
.routesName {
    height: 25px;
    width: 248px;
    margin: 1px 0px 11px 0px;
    padding: 0px 5px 0px 5px;
}
.activityDropdownMenu {
    margin: 1px 0px 11px 0px;
    height: 30px;
    width: 263px;
    padding: 0px 5px 0px 5px;
}
.routesDescription {
    margin: 5px 0px 11px 0px;
    height: 260px;
    width: 240px;
    padding: 5px 10px;
    resize: none;
}
.routesDesc {
    height: 300px;
}
.footer {
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    padding-right: 50px;
    font-size: 19px;
    position: fixed;
    cursor: pointer;
    display: flex;
    z-index: 1;
}
/* #github:hover {
    opacity: 2.0;
}
#github {
    opacity: 4.0;
}
#linkedin:hover {
    opacity: 2.0;
}
#linkedin {
    opacity: 4.0;
} */
.AboutMe {
    height: 55px;
    display: grid;
    width: 64px;
    padding: 5px;
    border-top-right-radius: 10px;
    /* border-top-left-radius: 10px; */
    background-color: rgb(236, 236, 236);
    border: 2px rgb(220, 220, 220) solid;
}
.linkss {
    display: flex;
}
.author {
    display: flex;
    margin: 1px 0px 2px 0px;
    color: #cccccc;
    font-size: 18px;
    font-weight: 500;
    padding: 0;
}
#userProfileViewLink {
    border: none;
    font-size: 12px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    margin: 0;
    display: flex;
    padding: 0;
    color: #1f7bb5 !important;
}
#userProfileViewLink:hover {
    color: #0076C0;
    text-decoration: underline #ababab solid 2px;
}




.signup-page {
    align-items: center;
    /* display: flex; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    /* padding-top: 10px; */
    height: 670px;
    width: 530px;
    content: '';
    z-index: -8;
    overflow: hidden;
    background-repeat: none;
    background: linear-gradient(rgba(249, 249, 249, 1), rgba(249, 249, 249, 0.25)), url('https://user-images.githubusercontent.com/86431563/147866578-6d907532-2844-435c-8041-0a2558d6a0e9.PNG');
}
.login-page {
    align-items: center;
    /* display: flex; */
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 550px;
    width: 450px;
    content: '';
    z-index: -8;
    overflow: hidden;
    /* background-size: 50px; */
    background: linear-gradient(rgba(249, 249, 249, 0.9), rgba(249, 249, 249, 0.25)), url('https://user-images.githubusercontent.com/86431563/147865953-f723a5e7-a8ed-433c-9ce6-4f7b70593279.png');
}
.login-container {
    display: flex;
    position: absolute;
    z-index: 8;
    box-sizing: border-box;
    left: 50%;
    background-clip: content-box;
    background-origin: content-box;z-index: -1;
    background-color: rgb(245, 245, 245);
    background-color: white;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.signupText {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 9px;
    margin-right: 37px;
    color: #9297A3;
}
.demoBtn {
    margin-top: 20px;
    width: 320.6px;
    background-color: #0076C0;
    color: white;
    height: 44px;
    border-radius: 1px;
    border: .5px solid rgb(172, 172, 172);
    padding: 12px 16px;
}
.demoBtn:hover{
    background-color: #0065a4;
    cursor: pointer;
}
.login-form{
    padding: 20px 20px 30px 20px;
    border-radius: 2px;
    align-items: center;
    text-align: center;
    width: 350px;
    border: 2px solid #BFBFBF;
    box-shadow: 8px 10px 3px 1px #d3d5d6;
}
.email-input{
    margin-top: 10px;
    width: 287px;
    height: 18.5px;
    background-color: #f0f0f0;
    border-radius: 1px;
    color: #9297A3;
    border: .5px solid rgb(172, 172, 172);
    padding: 12px 16px;
}
.password-input{
    margin-top: 10px;
    width: 287px;
    height: 18.5px;
    background-color: #f0f0f0;
    color: #9297A3;
    border-radius: 1px;
    border: .5px solid rgb(172, 172, 172);
    padding: 12px 16px;
}
.or-container {
    width: 91%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #a6a6a6;
    font-size: 12px;
}
.or-text {
    padding-top: 2px;
}
.divider {
    display: block;
    width: 40%;
    height: 1px;
    padding-top: 7px;
    border-bottom: 1px #a6a6a6 solid;
}
.login-button{
    margin-top: 10px;
    margin-bottom: 13px;
    width: 320.6px;
    background-color: rgba(65, 144, 148, 0.619);
    color: white;
    height: 44px;
    border-radius: 1px;
    border: .5px solid rgb(172, 172, 172);
    padding: 12px 16px;
}
.login-button:hover{
    background-color: rgba(61, 154, 157, 0.755);
    cursor: pointer;
}
.errors{
    color: rgb(202, 0, 0);
    font-weight: 500;
}
